<div class="card container p-0">
    <div class="card-body">
<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="text-center mb-3">
    <img [src]="imgSrc" width="100%" height="100%" (click)="fileUploader.click()" id="img-upload">
</div>
<div class="form-group mb-3">
    <label>Odaberi sliku</label>
    <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imgUrl" (change)="showPreview($event)">
    <div class="text-danger" *ngIf="isSubmitted && formControls['imgUrl']errors['required']">Ubaci sliku</div>
</div>
<div class="form-group mb-3">
    <input class="form-control" formControlName="caption" placeholder="Naslov">
    <div class="text-danger" *ngIf="isSubmitted && formControls['imgUrl']errors['required']">Upiši ime slike</div>
</div>
<div class="form-group mb-3">
    <select class="form-control" formControlName="category">
        <option value="Vjencanje" selected>Vjencanje</option>
    </select>
</div>
<div class="row">
<div class="form-group col-6">
<a routerLink="/image/list" class="btn btn-primary">Galerija</a>
</div>
<div class="form-group d-flex justify-content-end col-6">
    <button type="submit" class="btn btn-success">Potvrdi</button>
</div>
</div>
</form>
    </div>
</div>